@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

#home {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#home p {
  margin-left: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
