@import url(https://fonts.googleapis.com/css?family=Khula:700);

#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home span {
  margin: auto;
  font-family: Khula;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  #home span {
    font-size: 3rem;
  }
}
