html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url(site-bg.svg) no-repeat center center;
  /* background by SVGBackgrounds.com */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
